.chord, .empty-chord{
	display: inline-block;
	margin: 0;
}

.chords-lists{
	
}

h1{
	font-size: 50px;
	text-shadow: 1px 1px 3px grey;
}

.new-tab-steps{
	font-size: 40px;
	text-shadow: 1px 1px 3px grey;
}

#new-tab{
	margin-top: 100px;
}

.new-tab-fields{
	border: 0;
	border-radius: 5px;
	padding: 5px;
	background-color: #f6f6f6;
}
