<div class='row'>
	<div class='col-lg-12 thumbs-div'>
		<i class='fa fa-thumbs-up like-button'></i>
		<p class='number-of-likes' style='display: inline-block;'><%= tab.get_likes.size %></p>
		<i class='fa fa-thumbs-down dislike-button'></i>
		<p class='number-of-dislikes' style='display:inline-block;'><%= tab.get_dislikes.size %></p>
	</div>
	<div class='col-lg-12 rating-bar'>
		<div class='likes-bar' style="width: <%= tab.likes_percentage*2 %>px; display:inline-block;"></div>
		<div class='dislikes-bar' style="width: <%= tab.dislikes_percentage*2 %>px; display: inline-block;"></div>
	</div>
</div>