.chord, .empty-chord{
	display: inline-block;
	margin: 0;
}

.chords-lists{
	
}

.lyrics-line{
}

h1{
	font-size: 50px;
	text-shadow: 1px 1px 3px grey;
}

.like-button{
	color: white;
	font-size: 20px;
}

.dislike-button{
	font-size: 20px;
	color: white;
}

.number-of-likes{
	display: inline-block;
	margin-right: 30px;
}

.number-of-dislikes{
	margin-right: 30px;
	display: inline-block;
}

.like-button:hover{
	transition: color linear 100ms;
	color: green;
}

.dislike-button:hover{
	transition: color linear 100ms;
	color: darkred;
}

.likes-bar{
	height: 10px;
	background-color: green;
	display: inline-block;
	border-radius: 2px 0 0 2px;
	padding: 2px;
	color: #f5f5f5;
}

.dislikes-bar{
	height: 10px;
	display: inline-block;
	background-color: darkred;
	padding: 2px;
	border-radius: 0 2px 2px 0;
	color: #f5f5f5;
}

.rating-bar{
	text-align: right;
}

.thumbs-div{
	text-align: right;
}

.new-tab-steps{
	font-size: 40px;
	text-shadow: 1px 1px 3px grey;
	margin-bottom: 50px;
}

#new-tab{
	margin-top: 100px;
}

.new-tab-fields{
	border: 0;
	border-radius: 5px;
	padding: 5px;
	background-color: #f6f6f6;
}

#tab-info{
	text-align: left;
	display: inline-block;
	margin: auto;
	padding: 20px;
	margin-top: 50px;
}

#new-tab-form{
	display: inline-block;
}

#tab-lyrics{
	display: none;
}

#tab-chords{
	display: none;
}
.new-tab-labels{
	color: lightgrey;
	font-size: 20px;
}

.tabs-button{
	display: block;
	border: 1px solid grey;
	background-color: inherit;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(40,40,40,1);
}

.tabs-button:hover{
	color: rgba(35,35,35,1);
	background-color: #f5f5f5;
	transition: background linear 100ms;
}

#the-lyrics{
	border: 2px solid grey;
	border-radius: 4px;
	background-color: rgba(25,25,25,0.7);
}
#the-lyrics:focus{
	border: 2px solid #FF9900;
	transition: border linear 200ms;
}

.select-chord{
	border: 1px solid grey;
	border-radius: 3px;
	background-color: inherit;
}